/* CSS Document */


html{height:100%;}
body {margin:0; background:#F5F5F5;width:100%;height:100%;}
ul {margin:0; padding:0;list-style: none;}
.Container { height:auto; width: 100%; margin: 0 auto;}
a {text-decoration:none; color:#000000}
/* ------------------Home ----------------------- */
.Home {
	background-image:url(../images/life-line.jpg);
	background-size:cover;
	height:100%;
}
.Home_title {
}
.Home_title > img {
	width: 50%;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;	
}
.Home_mask {
	background:#363947;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	opacity:0.4;
}
.Home_box {
	position: absolute;
	top: 25%;
	left:0;
	right:0;

	margin: 0 auto;
	text-align: center;
	color: white;
	font-family: serif;
	font-size: 20px;	
}
.Home_login{
	position: absolute;
	bottom: 5%;
	left:0;
	right:0;

	margin: 0 auto;
	text-align: center;
	font-family: serif;
	font-size: 20px;
	width:50%;
	color:white;
}
.Home_login > a {
	color:#fff;	
}
.Home_submit {
	-webkit-appearance: none;
	border: none;
	background: #e74c3c;
	line-height: 30px;
	width: 279px;
	color: white;
	font-size: 18px;
 }

/*  ----------------------ナビゲーション--------------------------*/

.Nav {
	height: 40px;
	width: 100%;
	background: #e74c3c; /* Black Rock */ 
	font-size:12px;
}
.Nav_item {
	display: block;
	width: 10%;
	float: left;
	color: #fff;
}
.Nav_item > a {
	color: #fff;
	display:block;
	line-height:40px;
	text-align:center;
	text-decoration: none;
}
.Nav_item-right {
	float: right;	
}


.Lists {
	width:50%;
	margin: 100px auto 10px auto;
	position:relative;
	background: #fff;
	/* border-radius: 20px; */
	padding: 4%;
}
.Lists_title {
	position: absolute;
	top: -100px;
	left:0;
	width: 100%;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #b3b3b3;
	color: rgba(255, 255, 255, 0.3);
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}
.List {
	position: relative;
	padding-bottom: 3%;

}
.List > a {
	display:block;
	position: absolute;
	top: 0;
	left: 65px;
}
.List_status {
	
}

/*  ------------------------------------------------*/
.Tutorial,.Box{
	position: relative;
	width:50%;
	background:#fff;
	padding: 4%;
	margin: 100px auto 0;	
}
.Tutorial_sentence, .Box_body {
	padding: 3%;
}
.Tutorial_title,.Box_title,.Tab_title {
	position: absolute;
	top: -100px;
	left:0;
	width: 100%;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #b3b3b3;
	color: rgba(255, 255, 255, 0.3);
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}
/*  ------------------------------------------------*/
.Reference_icon {
	width: 50%;
	margin: 0 auto;
	font-size: 70%;
	color: gray;
}

/* リスト */
.Voices {
	background:#fff;
	width:50%;
	margin:30px auto;
	position:relative;
}
.Voices_lists{
 border-bottom: 1px solid #ccc;
width: 90%;
position: absolute;
right: 0;
 }
.Voices_list{
 background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
 background: linear-gradient(#fff, #f0f0f0);
 border-bottom: 1px solid white;
 border-top: 1px solid #ccc;
 height: 44px;
 margin: 0;
 
 color: #333;
 display: block;
 height: 44px;
 margin: 0;
 padding: 0 10% 0 10px;
 overflow: hidden;
 text-overflow: ellipsis;
 text-decoration: none;
 font-weight: bold;
 white-space: nowrap;
 line-height: 44px;
 border-left: 1px solid #ccc;
 position: relative;
 
 }
 .Voices_Ranks {
 border-bottom: 1px solid #ccc;
 }
 .Voices_Rank {
 background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
 background: linear-gradient(#fff, #f0f0f0);
 border-bottom: 1px solid white;
 border-top: 1px solid #ccc;
 height: 44px;
 margin: 0;
 
 color: #333;
 display: block;
 height: 44px;
 margin: 0;
 padding: 0 0 0 10px;
 overflow: hidden;
 text-overflow: ellipsis;
 text-decoration: none;
 font-weight: bold;
 white-space: nowrap;
 line-height: 44px;
 width: 10%;
	 
 }
 .Voices_RanksInfo {
	 position:absolute;
	 top:-20px;
	 left:5px;
	font-size: 70%;
	color: gray;

 }
 .Voices_play {
	 position:absolute;
	 right:5%;
	 top:11px;
 }
 .form_modifyVoice {
	width:50%;
	margin:20px auto;
	text-align: center;
 }
 
 .btn-original {
    background: #49a7ff;
	border:0;
    color:#FFF;
    width: 100px;
    padding: 10px 0;
	-webkit-box-shadow: 0 5px 0 #228dee, 0 5px 10px rgba(0,0,0,.35);
	-moz-box-shadow: 0 5px 0 #228dee, 0 5px 10px rgba(0,0,0,.35);
	box-shadow: 0 5px 0 #228dee, 0 5px 10px rgba(0,0,0,.35);
	transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-webkit-transform: translateY(-5px);


}
.btn-original:disabled {
	background:#EEE;
	color: graytext;
	border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	transform: translateY(0);
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);

}
.form_btn {
	margin-top:10px
}

.Login_table {
	width:100%;	
}

.login_input {
	line-height: 30px;
	font-size: 25px;
	text-align: center;
}
/* ------------ icon --------------------- */
 .icon_status {
	position: absolute;
	top: 6px;
	left: 30px;
 }
 .scene_birthday {
	 color:#e74c3c;
 }
 .scene_cheerup {
	 color:#3498db;
 }
 .scene_farewell {
	 color:#2ecc71;
 }


 
 /* ---- 文字に色つける。エラー。成功等。 ------ */
 
 .modified {
	 color:#3F0;
 }


/* ---------------- タブ ----------------------------- */
.Tab {position:relative;width:50%;color:#fff;margin:100px auto 0;}
.Tab_block{overflow:hidden;}
.Tab_block li{background:#ccc; padding:5px 25px; float:left; margin-right:1px; }
.Tab_block li.Tab_select{background:#F66D5D;}
.Tab_content li{
	background: white;
	padding: 5px 20px 20px;
	color: #F66D5D;
	border: #F66D5D solid 5px;
	font-family: serif;
}
.Tab_hide {display:none;}
.Tab_infoText {}
.Tab_button {
	background: #F66D5D;
	border: none;
	color: white;
	width: 75px;
	line-height: 30px;
	position: absolute;
	font-size:12px;
}
.Tab_input {
width: 50%;
line-height: 30px;
font-size: 25px;
text-align: center;	
}
#select_recordtime {
	background: white;
	color: #F66D5D;
	border: #F66D5D solid 2px;	
}
/* ----------- Dialog ------------------- */
.Dialog_boxes {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;	
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;	
	
	text-align:center;
}
.Dialog_left {
	width:50%;
}
.Dialog_right {
	width:50%;
	border-left: solid;
}
.Dialog_title {
}
.Dialog_body {
	margin: 3px 3px 15px;
}
.Dialog_datetime {
		
}
/* ------------- Loading ---------------- */
#Loading_mask {
	z-index:10000;
	position: absolute;
	top: 0;
	left:0;
	right:0;
	bottom:0;
	background:#000;
	opacity:0.5;
}
#Loading_icon {
	z-index:50001;	
	position: absolute;
	left: 45%;
	top: 40%;
	color:#fff;
	font-size:5rem;
}

/* ------------------ Other ------------------------- */
.center {
	text-align:center;	
}

/* Media Queries
----------------------------------------------------------- */

@media only screen and (max-width: 959px) {
.Nav_item {
	width: 20%;
}
.Lists ,.Tutorial,.Box,.Reference_icon,.Voices,.form_modifyVoice,.Tab{
	width:70%;
}
.Home_login {
	width:50%;	
}
}
@media only screen and (max-width: 767px) { 
.Nav_item {
	width: 30%;
}
.Lists ,.Tutorial ,.Box, .Reference_icon,.Voices,.form_modifyVoice,.Tab{
	width:95%;
}
.Tab_block li{
	font-size: 12px;
	padding: 5px 5px;
}
.Home_title > img {
	width:100%;
}
.Home_box {
	font-size:16px;	
}
.Home_login {
	width:80%;	
}
}
@media only screen and (max-width: 450px) { 
.Home_submit,.login_input {
	width:100%;	
}

}