/* CSS Document */



body {margin:0; background:#F5F5F5;width:100%}
ul {margin:0; padding:0;list-style: none;}
.Container { height:auto; width: 940px; margin: 0 auto;}
a {text-decoration:none;}



/*  ----------------------ナビゲーション--------------------------*/

.Nav {
	height: 40px;
	width: 100%;
	background: #333;
	font-size:12px;
}
.Nav_item {
	display: block;
	width: 10%;
	float: left;
}
.Nav_item > a {
	color: #fff;
	display:block;
	line-height:40px;
	text-align:center;
	text-decoration: none;
}
.Nav_item > a:hover {
	background:#F30;
}
.Nav_item-right {
	float: right;	
}


.Lists {
	width: 550px;
	margin: 130px auto 40px auto;
	position:relative;
}
.Lists_title {
	position: absolute;
	top: -120px;
	width: 100%;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #b3b3b3;
	color: rgba(255, 255, 255, 0.3);
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}	
.list {
	
}

/* Media Queries
----------------------------------------------------------- */

@media only screen and (max-width: 959px) { 

}
@media only screen and (max-width: 767px) { 

}